h1 {
    text-align: center;
    font-family: 'Amazonic';
    font-size: 8rem;
    color: rgb(212, 202, 10);
    padding-bottom: 2.4rem;
}

@font-face {
    font-family: 'Amazonic';
    src: url(./fonts/AmazonicPersonalUseBold-eZKGn.ttf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

.background {
    background-image: url(./img/tropical-rainforest-jungle-background.jpg);
    background-size: contain;
    background-position: center center;
    opacity: 0.9;
    width: 100%;
    height: 100%;
}

.container {
    letter-spacing: 5px;
    margin: 0 auto;
    max-width: 900px;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#game {
    display: grid;
    grid-template-columns: repeat(6, 120px);
    grid-template-rows: repeat(3, 110px);
    gap: 1.2rem;
    justify-content: center;
}

.card {
    box-shadow: 0 3px 2px rgb(212, 202, 10);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transform-style: preserve-3d;
}

.img-card {
    width: 100%;
    height: 100%;
}


.front, .back {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.5s;
}

.front {
    background-color:rgb(216, 251, 195);
    background-position: center;
    background-repeat: no-repeat;
}

.rotated {
    transform: rotateY(180deg);
}




